---
display_name: Name
job_name: job_name_as_defined_in_Python
display: true  # true to display on the /Pioreactors card
source: your_plugin_name
description: This description is displayed with the start/stop buttons in Manage / Activities.
published_settings:
  - key: rpm   # as defined in Python
    unit: RPM  #
    label: Stirring speed # human readable name
    description: This description is displayed with an editable field in Manage / Settings.
    type: numeric  # one of numeric, boolean, text
    display: true # true to display on the /Pioreactors card
  - key: something_else
    unit: lb
    label: Something else
    description: This description is displayed with an editable field in Manage / Settings.
    type: numeric # one of numeric, boolean, text
    display: true # true to display on the /Pioreactors card
