[Unit]
Description=start ngrok on startup
After=network.target

[Service]
ExecStart=/opt/ngrok/ngrok start ui ws --config /home/pi/.ngrok2/ngrok.yml
Type=simple

[Install]
WantedBy=multi-user.target
