[Unit]
Description=Set timezone

[Service]
Type=simple
ExecStart=sudo timedatectl set-timezone $(crudini --get /home/pi/.pioreactor/config.ini timezone timezone)


[Install]
WantedBy=multi-user.target
