[bumpver]
current_version = "24.10.15dev0"
version_pattern = "YY.MM.DD[PYTAGNUM]"
commit_message = "bump version {old_version} -> {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
pre_commit_hook = ""
post_commit_hook = ""
commit = true
tag = true
push = true

[bumpver.file_patterns]
"setup.py" = [
    'version="{pep440_version}",',
]
"bumpver.toml" = [
    'current_version = "{version}"',
]
"pioreactor/version.py" = [
    '^__version__ = "{version}"$',
]
