[Unit]
Description=Start up %I on boot.
Wants=network-online.target
After=network-online.target firstboot.service load_rp2040.service local_access_point.service lighttpd.service

[Service]
User=pioreactor
ExecStart=pio run %I
Restart=yes
Environment="PATH=/home/pioreactor/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
