[Unit]
Description=Periodically check Pioreactor Wi-Fi connectivity

[Timer]
OnBootSec=3min
OnUnitInactiveSec=1min
AccuracySec=15s
Unit=pioreactor-wifi-recovery.service

[Install]
WantedBy=timers.target
