p[contenteditable="true"] {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

p[contenteditable="true"]:hover {
    border-top:    1px solid #51a7e8;
    border-left:   1px solid #51a7e8;
    border-bottom: 1px solid #51a7e8;
    border-right:  1px solid #51a7e8;
    border-radius: 3px;
}


.underlineSpan {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.87);
  text-decoration: none;
}


u {
    text-decoration: none;
}


.blinkled {
    animation-name: blink;
    animation-duration: 0.9s;
    animation-iteration-count: 4;
}
@keyframes blink {
    0%   { opacity: 1;}
    13%  { opacity: 0;}
    26%  { opacity: 1;}
    39%  { opacity: 0;}
    51%  { opacity: 1;}
    100% { opacity: 1;}
}

.blinkicon {
    animation-name: blink2;
    animation-duration: 0.70s;
    animation-iteration-count: 1;
}
@keyframes blink2 {
    0%   { opacity: 1;}
    13%  { opacity: 0;}
    26%  { opacity: 1;}
}


.indicator-dot {
  width:8px;
  height:8px;
  border-radius:5px;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 12px #ea4c89;
  margin: 13px 8px;
}

.indicator-dot-beside-button {
  width:8px;
  height:8px;
  border-radius:5px;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 12px #ea4c89;
  margin: auto 10px auto 0px;
}

.indicator-dot-as-legend{
  width:15px;
  height:15px;
  border-radius:7px;
  border: 0.5px solid #000;
  margin: auto 7px auto 0px;
}

.readonlyEditor textarea {
  outline: 0;
}
