---
display_name: My Automations Name  # human readable name
automation_name: my_automations_name   # the corresponding name of the automation from the Python code.
description: Provide a meaningful description of what the automation does, when to use it, how it works...
fields:
  - key: duration  # key is the same as the keyword in the Python code.
    default: 30
    unit: min
    label: Duration between events
  - key: target_od
    default: 1.5
    unit: AU
    label: Target OD
  - key: volume
    default: 0.75
    unit: mL
    label: Max volume
  - key: intensity
    default: 50
    unit: "%"  # note: percent signs needs to be quoted.
    label: Intensity of PWM
