-r requirements.txt
RPi.GPIO
adafruit-circuitpython-ads1x15===2.2.8
https://github.com/pioreactor/simple-pid/archive/master.zip
DAC43608==0.2.6
TMP1075==0.2.0
rpi-hardware-pwm==0.1.3

# numpy as well, but that's installed elsewhere
