[Unit]
Description=In case of an RPi power-cycle mid-experiment, start up the important services again.

[Service]
User=pi
WorkingDirectory=/home/pi/morbidostat
ExecStart=mb od_reading -b
Restart=always
Environment="PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

[Install]
WantedBy=multi-user.target
