[Unit]
Description=start ngrok on startup
After=network.target

[Service]
ExecStart=/opt/ngrok/ngrok start ssh ui ws --config /opt/ngrok/ngrok.yml
Type=simple

[Install]
WantedBy=multi-user.target
