[Unit]
Description=In case of an RPi power-cycle mid-experiment, start up PioreactorUI
Wants=network-online.target
After=network-online.target

[Service]
User=pi
ExecStartPre=sudo iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 9000
ExecStart=pm2 start app.js --name ui --time
WorkingDirectory=/home/pi/pioreactorui/backend
Restart=no
Environment="PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
KillMode=none

[Install]
WantedBy=multi-user.target
