[Unit]
Description=In case of an RPi power-cycle mid-experiment, start up PioreactorUI
Wants=network-online.target
After=network-online.target

[Service]
User=pi
ExecStart=pm2 start app.js --name ui
WorkingDirectory=/home/pi/pioreactorui/backend
Restart=no
Environment="PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
KillMode=none

[Install]
WantedBy=multi-user.target
