[Unit]
Description=In case of an RPi power-cycle mid-experiment, start up stirring.
Wants=network-online.target
After=network-online.target

[Service]
User=pi
ExecStart=pio stirring -b
Restart=no
Environment="PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
KillMode=none

[Install]
WantedBy=multi-user.target
