[Unit]
Description=Huey service for PioreactorUI
After=network.target firstboot.service
Before=lighttpd.service

[Service]
User=pioreactor
WorkingDirectory=/var/www/pioreactorui
ExecStart=huey_consumer tasks.huey -n -b 1.0 -w 2 -f -C
ExecStartPost=pio log -m "%n successful" -n systemd --local-only
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
